@{
    ViewData["Title"] = "casita";
}
<div class="container">
    @* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div> *@

    <div class="bienvenida text-center text-light">

        @if (Context.User.Identity.IsAuthenticated)
        {
            <br />
            <h3>Bienvenido <span class="text-success">@User.Identity.Name</span> </h3>
            <h3>@ViewData["AccessToken"]</h3>
            <br />


        }

    </div>


    <div class="background">
        <div class="centering">
            <div class="articles">
                <article>
                    <figure>
                        <img src="https://posadalacasona.com.ar/wp-content/uploads/2021/08/Mar-de-las-Pampas-8.jpg"
                             alt="Preview">
                    </figure>
                    <div class="article-preview">
                        <h2>Transporte a Mar de las Pampas</h2>
                        <p>
                            Viaja de la manera más tranquila y comfortable con nuestro servicio de traslado puerta a puerta. 
                            <a href="#" class="read-more" title="Read More">
                                Read more
                            </a>
                        </p>
                    </div>
                </article>
                <article>
                    <figure>
                        <img src="https://media.ambito.com/p/03f97cef9e29405aaee2eefd287a7be6/adjuntos/239/imagenes/040/693/0040693470/1200x675/smart/bolichejpg.jpg"
                             alt="Preview">
                    </figure>
                    <div class="article-preview">
                        <h2>Entradas a boliches</h2>
                        <p>
                            Somos amigos de la noche y la noche lo sabe.       <br /><br />
                            <a href="#" class="read-more" title="Read More">
                                Read more
                            </a>
                        </p>
                    </div>
                </article>
                <article>
                    <figure>
                        <img src="https://outinba.com/wp-content/uploads/2017/12/barhopping.jpg"
                             alt="Preview">
                    </figure>
                    <div class="article-preview">
                        <h2>Bar Hopping</h2>
                        <p>
                            Vas a disfrutar de todo lo mejor que tiene la noche de Mar de las Pampas, Un recorrido inolvidable por los mejores bares.            
                            <a href="#" class="read-more" title="Read More">
                                Read more
                            </a>
                        </p>
                    </div>
                </article>
                <article>
                    <figure>
                        <img src="https://i.pinimg.com/originals/4c/d4/33/4cd433f2823ddb63a6c8b1be6e935ac2.gif"
                             alt="Preview">
                    </figure>
                    <div class="article-preview">
                        <h2>Lanzamiento de Enanos</h2>
                        <p>
                            Hace que tu enano llegue mas lejos y ganate un enano de oro..

                            <a href="#" class="read-more">
                                Read more
                            </a>
                        </p>
                    </div>
                </article>
                
                <article>
                    <figure>
                        <img src="https://i.makeagif.com/media/10-10-2022/3Fsdj9.gif"
                             alt="Preview">
                    </figure>
                    <div class="article-preview">
                        <h2>Pelea de monos</h2>
                        <p>
                            Nada como disfrutar de una buena pelea de monos con navajas..
                            <a href="#" class="read-more" title="Read More">
                                Read more
                            </a>
                        </p>
                    </div>
                </article>
                <article>
                    <figure>
                        <img src="https://64.media.tumblr.com/b112097e6f050f38c888a1d77d54c2b0/d91b0b2462572095-d7/s400x600/8ece84fff2ce2cabee144207d858b1563f2c4a98.gif"
                             alt="Preview">
                    </figure>
                    <div class="article-preview">
                        <h2>Toro Mecanico</h2>
                        <p>
                            Y si todavia no te alcanza, tenemos toro mecanico para que te pegues un buen porrazo :)
                            <a href="#" class="read-more" title="Read More">
                                Read more
                            </a>
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>


</div>




