@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><h2 class="text-white" style="font-size: 2em;">Bienvenido a la seccion de Administracion</h2><br /><br />
    <div class="login-container">
        <img src="img/welcomeToHellLogo1.png" alt="Logo" style="width:500px; height: auto">

        <!--        <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" style="width: auto" />
            -->
        
    </div>
</div>
