@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Bienvenido a la seccion de Administracion</h2>
    <div class="login-container">
        <img src="img/logonuevo-solterout.png" alt="Logo" style="width:auto; height: auto">

        <!--        <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" style="width: auto" />
            -->
        
    </div>
</div>
